In [15]:

import pandas as pd

In [16]:
%store -r rvu

In [18]:
rvu.head(5)

,State,PatientNumber,CptCode,CptDesc,CptStatus,ProviderNumber,ProviderSpecialty,PlaceofService,PayerName,Transactions,Units,UnitsCharge,UniquePatients,Charge,Payment,Adjustment,Net
0,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Insurance Payment,0,0,1,0.0,0.0,0.0,0.0
1,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Blood pressure,1,0,0,0.0,0.0,0.0,0.0
2,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Bill,0,0,0,0.0,0.0,0.0,0.0
3,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Invoice - Transfer,0,0,0,0.0,0.0,0.0,0.0
4,Alaska,AL83985207,3079F,Diast bp 80-89 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Insurance Payment,0,0,0,0.0,0.0,0.0,0.0

# Analyze RVU

## Payer RVU: Part 1
<p>
This analysis that I did here, is based on Payer, as you can see, our actual volume of Medicaid is lower than commercial and Medicare. I pulled in our charges and payments, and I calculated a payment per unit. So, Medicare is 100% Medicare, which means this payment per unit for a commercial payer is 119% of Medicare and Medicaid is 61%. I expected Medicaid to be a little higher, although you expect Medicaid to be lower than Medicare. This is because I pulled a small volume of a fake medical dataset, and I don't have a lot of Medicaid built into this data set, so it might be a little bit wide. However, in the real world you would see Medicaid being less than Medicare. Then I took a gross collection rate. Gross collection rate is just your charges. This calculation doesn't really tell us too much because it's just a gross collection rate, but our commercial gross collection rate leads at 51%.
</p>

In [20]:
rpt1 = rvu.groupby("PayerName").apply(
    lambda d: pd.Series(
        {
            "Sum of Units w/Charge": d["UnitsCharge"].sum(),
            "Sum of Charges": d["Charge"].sum(),
            "Sum of Payment": d["Payment"].sum() * -1,
            "Pmt/Unit":d["Payment"].sum() / d["UnitsCharge"].sum() * -1,
       
            "Gross Collection Rate":d["Payment"].sum() / d["Charge"].sum() * -100
        }
    ))
rpt1["% of Medicare"]= rpt1['Pmt/Unit']/ rpt1.loc['Medicare',"Pmt/Unit"] * 100
rpt1.loc['Total'] = pd.Series(rpt1[["Sum of Units w/Charge", "Sum of Charges", "Sum of Payment", "Pmt/Unit", "% of Medicare"]]
                   .sum(), index = ["Sum of Units w/Charge", "Sum of Charges", "Sum of Payment", "Pmt/Unit"])
rpt1.style.format({"Sum of Units w/Charge": "${:20,.0f}", 
                          "Sum of Charges": "${:20,.0f}", 
                          "Sum of Payment": "${:20,.0f}",
                          "Pmt/Unit":"${:20,.0f}",
                          "% of Medicare": "{:20,.0f}%",
                          "Gross Collection Rate":"${:20,.0f}%"
                 }).background_gradient(cmap='Blues')

## Payer RVU: Part 2

<p>
I followed the exact same report above, but I wanted to understand our debt collection ratio, which means I needed to understand what our contracts were. I pulled in our adjustments for contractual and I took them less are charges which gave me net charges. Then I was able to calculate our net collection rate for each pair. Again, I expect these to be higher. Normally you would expect the collection rate for Commercial to be higher than Medicare, and in the real world the collection rate percentage would gradually go up as time goes.
</p>

In [21]:
rpt2 = rvu.groupby("PayerName").apply(
    lambda d: pd.Series(
        {
            "Sum of Adjustment": d["Adjustment"].sum() * -1,
            "Sum of Charges": d["Charge"].sum(),
            "Sum of Payment": d["Payment"].sum() * - 1,
            "Net Charges":d["Charge"].sum()  + d["Adjustment"].sum(),
            "Net Collection Rate":d["Payment"].sum() / (d["Charge"].sum()  + d["Adjustment"].sum())* -100
        }
    ))
rpt2.loc['Total'] = pd.Series(rpt2[["Sum of Adjustment", "Sum of Charges", "Sum of Payment", "Net Charges"]]
                  .sum(), index = ["Sum of Adjustment", "Sum of Charges", "Sum of Payment", "Net Charges"])
rpt2.style.format({"Sum of Adjustment": "${:20,.0f}", 
                          "Sum of Charges": "${:20,.0f}", 
                          "Sum of Payment": "${:20,.0f}",
                          "Net Charges":"${:20,.0f}",
                          "Net Collection Rate":"${:20,.0f}%"
                 }).background_gradient(cmap='Blues')

## Collection Rate for Provider
<p>You can see the different collection rates for each one of our specialties.  In fact, I would be curious, like what is cardiology, which is 32%. I would expect that to be more in the range of 90 to 95%. That's where you want your entire collection to be. If your collection rate is this low this shows that the revenue cycle needs help, and I would start at the Front-End-Process. for instance, Patient registration, Insurance verification and Preauthorization 
</p>

In [22]:
rpt3 = rvu.groupby("ProviderSpecialty").apply(
    lambda d: pd.Series(
        {
            "Sum of Adjustment": d["Adjustment"].sum() * -1,
            "Sum of Charge": d["Charge"].sum(),
            "Sum of Payment": d["Payment"].sum() * -1,
            "Net Charges":d["Charge"].sum() + d["Adjustment"].sum(),
            "Net Collection Rate":d["Payment"].sum() / d["Charge"].sum() * -100
        }
    ))
rpt3.loc['Total'] = pd.Series(rpt3[["Sum of Adjustment", 'Sum of Charge', "Sum of Payment", "Net Charges"]]
                              .sum(), index = ["Sum of Adjustment", 'Sum of Charge', "Sum of Payment", "Net Charges"])
rpt3.style.format({"Sum of Adjustment": "${:20,.0f}", 
                          "Sum of Charge": "${:20,.0f}", 
                          "Sum of Payment": "${:20,.0f}",
                          "Net Charges":"${:20,.0f}",
                          "Net Collection Rate":"{:20,.0f}%"}).background_gradient(cmap='Greens')

## Collection Rate For Place of service
<p>
This calculation will show you your average charges per unique patient, which is kind of cool.  This is done by Medicare place of service. Unique patients mean that if a patient comes in 10 times, they're a unique patient once. This analysis can help you understand what you're charging and what you're receiving per unique patient. This is very important because you might have patients who come in frequently who you're charging, but you're not clicking on, or claims aren't configured correctly in your EMR system. For example, this place of service Home, as a poor or a worse gross collection rate at 27%. This should be relatively easy to figure because the place service Home only collected 16 unique patients. However more importantly the solution may positively impact other places of service, especially if its a Front-End-Process issue. 
</p>

In [23]:
rpt4 = rvu.groupby("PlaceofService").apply(
    lambda d: pd.Series(
        {
            "Unique Patient": d["UniquePatients"].sum(),
            "Net Charge": d["Charge"].sum() ,
            "Payment": d["Payment"].sum() * -1 ,
            "Avg. Chg/Pt":d["Charge"].sum() / d["UniquePatients"].sum(),
            "Avg. Pmt/Pt":d["Payment"].sum() / d["UniquePatients"].sum() * - 1,
            "GCR/Patient": ((d["Payment"].sum() / d["UniquePatients"].sum()) / (d["Charge"].sum() / d["UniquePatients"].sum()) * - 100)
        }
    ))
rpt4.loc['Total'] = pd.Series(rpt4[['Unique Patient', 'Net Charge', 'Payment', 'Avg. Chg/Pt', 'Avg. Pmt/Pt','GCR/Patient']]
                              .sum(), index = ['Unique Patient', 'Net Charge', 'Payment'])
rpt4.style.format({"Unique Patient": "{:20,.0f}", 
                          "Net Charge": "${:20,.0f}", 
                          "Payment": "${:20,.0f}",
                          "Avg. Chg/Pt":"${:20,.0f}",
                          "Avg. Pmt/Pt":"${:20,.0f}",
                          "GCR/Patient":"{:20,.0f}%"}).background_gradient(cmap='Greens')

## Outpatient Visit est

In [25]:
values_list = ['99217','99219']
rpt4 =  rvu[(rvu['CptCode'].str.contains('9921')) & (~health['CptCode'].isin(values_list))]
rpt4 = rpt4.groupby("CptCode").apply(
    lambda d: pd.Series(
        {
            
            "Sum of Charge": d["Charge"].sum() ,
            "Sum of Payment": d["Payment"].sum() * -1 ,
            "Sum of Units":d["Units"].sum()
           
          
        }
    ))
rpt4.loc['Total'] = pd.Series(rpt4[["Sum of Charge", "Sum of Payment", "Sum of Units"]]
                   .sum(), index = ["Sum of Charge", "Sum of Payment", "Sum of Units"])
rpt4.style.format({"Sum of Charge": "{:20,.0f}", 
                          "Sum of Payment": "${:20,.0f}", 
                          "Sum of Units": "${:20,.0f}"}).format_index(str.upper, axis=1).background_gradient(cmap='Greens')

In [26]:
rvu.head()#

,State,PatientNumber,CptCode,CptDesc,CptStatus,ProviderNumber,ProviderSpecialty,PlaceofService,PayerName,Transactions,Units,UnitsCharge,UniquePatients,Charge,Payment,Adjustment,Net
0,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Insurance Payment,0,0,1,0.0,0.0,0.0,0.0
1,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Blood pressure,1,0,0,0.0,0.0,0.0,0.0
2,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Bill,0,0,0,0.0,0.0,0.0,0.0
3,Alaska,AL83985207,3077F,Syst bp >/= 140 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Invoice - Transfer,0,0,0,0.0,0.0,0.0,0.0
4,Alaska,AL83985207,3079F,Diast bp 80-89 mm hg,Not Valid for Medicare,Provider 1073,Internal Medicine,Office,Commercial,Insurance Payment,0,0,0,0.0,0.0,0.0,0.0

In [116]:
rpt5 =  rvu[rvu['Transactions'].str.contains('adjustment')]
rpt5 = rpt5.groupby(['ProviderSpecialty']).apply(
    lambda d: pd.Series(
        {
            
            "Sum of Adjustment": d["Adjustment"].sum() * -1,
            'Providers Count': d['ProviderNumber'].value_counts().sum()
          
        }
    )).sort_values(by='Sum of Adjustment', ascending=False)
rpt5.loc['Total'] = pd.Series(rpt5[["Sum of Adjustment",'Providers Count']]
                   .sum(), index = ["Sum of Adjustment",'Providers Count'])
rpt5.style.format({"Sum of Adjustment": "${:20,.3f}",
                   'Providers Count':"{:20,.0f}"
                  }).format_index(str.upper, axis=1).background_gradient(cmap='Greens')

In [126]:
rpt5_test = rvu[rvu['Transactions'].str.contains('adjustment')].groupby(['ProviderSpecialty','ProviderNumber']).apply (
 lambda d: pd.Series(
        {
            
            "Sum of Adjustment": d["Adjustment"].sum() * -1,
            'Providers Count': d['ProviderNumber'].value_counts().sum()
          
        }
    )).sort_values(by='Sum of Adjustment', ascending=False)

rpt5_test.loc['Total'] = pd.Series(rpt5_test[["Sum of Adjustment",'Providers Count']]
                   .sum(), index = ["Sum of Adjustment",'Providers Count'])
rpt5_test.style.format({"Sum of Adjustment": "${:20,.3f}",
                        'Providers Count':"{:20,.0f}"}).format_index(str.upper, axis=1).background_gradient(cmap='Greens')

In [ ]:
rvu